<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Setting>
    <Interval>300</Interval>
    <GPURefreshInterval>30</GPURefreshInterval>
    <Address>3KChFSUDhX54vbg2ukFekN4TZEPFSuy6Yw</Address>
    <WorkerName>AutoMiner1</WorkerName>
    <SwitchTolerance>0</SwitchTolerance>
    <ZergPoolEnabled>True</ZergPoolEnabled>
    <BlazePoolEnabled>True</BlazePoolEnabled>
    <MRREnabled>True</MRREnabled>
    <ProfitSelection>7</ProfitSelection>
    <StartUpMine>False</StartUpMine>
    <MonitorGPU>True</MonitorGPU>
    <MRRIncreasePercent>0</MRRIncreasePercent>
    <MRRMinHours>3</MRRMinHours>
    <MRRMaxHours>24</MRRMaxHours>
    <MRRApiKey>x</MRRApiKey>
    <MRRApiSecret>x</MRRApiSecret>
    <MRRMin>0</MRRMin>
    <DetachedMinerDetection>True</DetachedMinerDetection>
    <MRRManagedPricing>True</MRRManagedPricing>
    <DevFee>S6fRpH3Daxg1964z7xOvyCb8SxZJr5vT8Tsy+0LzqFM=</DevFee>
    <MRRAllAvailable>True</MRRAllAvailable>
    <NiceHashAddress>x</NiceHashAddress>
    <NHApiID>x</NHApiID>
    <NHApiKey>x</NHApiKey>
    <NiceHashEnabled>True</NiceHashEnabled>
  </Setting>
</Settings>